includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/swisnl/phpstan-faker/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - app
        - config
        - database
        - routes
        - tests

    excludePaths:
        - vendor/*
        - storage/*
    faker:
        providerClasses:
            - Database\Faker\ArticleCategoryProvider